.container {
    background-color: black;
    width: 100%;
    height: 420px;
    text-align: center;
    padding-top:120px;
}
.title {
    font-size: 20px;
letter-spacing: 1px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
text-align: center;
text-transform: uppercase;
border-bottom:1px solid #ffffff;
padding:20px;
width:231px;
margin:0 auto;
}

ul li  { 
    /* display: inline; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    margin: 0 15px;
    border:1px solid white;
    text-align:center;
    list-style-type: none;
}

ul {
    margin-left: -30px;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    /* border: 2px solid red; */
}
footer {
    font-size: 15px;
color: #ffffff;
font-weight: 600;
}
span {
    color:#00C7FC;
}